<div class="container">
    <a [routerLink]="[index]" class="prod">
        <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text text-primary h4">{{product.price | currency:'INR':'Rs.'}}</p>
                <p class="card-text"><small class="text-muted"><span class="badge rounded-pill bg-secondary me-2" *ngFor="let cat of product.category">{{cat}}</span></small></p>
                </div>
            </div>
            <div class="col-md-4">
            <img [src]="product.imagePath" class="img-fluid rounded-start float-end p-4" width="60%">
            </div>
        </div>
        </div>
    </a>
</div>

