<div class="container">
    <a style="cursor: pointer;" class="order">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-10 col-8">
                    <div class="card-body">
                        <h5 class="card-title">{{order.dateTime | date: 'medium'}}</h5>
                        <p class="card-text">{{order.orderStatus}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <p class="card-text text-primary h5 float-end p-4">{{order.orderAmount | currency:'INR':'Rs.'}}</p>
                </div>
            </div>
        </div>
    </a>
</div>