<app-alert [message]="message" *ngIf="message" (close)="onClose()"></app-alert>
<div class="card mx-auto" style="max-width: 80%;">
    <div class="row g-0">
        <div class="col-md-12">
            <div class="card-body">
                <h5 class="card-title">Order Summary</h5>
                <div *ngFor="let cartItem of cartItems">
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-md-2">
                                <img [src]="cartItem.product.imagePath" class="img-fluid rounded-start float-start p-4"
                                    width="100%">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <div class="row mt-2">
                                        <div class="col-md-10 col-8">
                                            <h5 class="card-title">{{cartItem.product.name}}</h5>
                                            <p class="card-text text-secondary "> {{cartItem.product.price |
                                                currency:'INR':'Rs.'}}</p>
                                            Quantity: {{cartItem.count}}
                                        </div>
                                        <div class="col-md-2 col-4">
                                            <p class="card-text text-secondary h4 float-end mx-2">
                                                {{cartItem.product.price * cartItem.count | currency:'INR':'Rs.'}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row mx-auto">
                    <hr>
                    <div class="mb-4">
                        <div class="float-start">Total Amount</div>
                        <div class="float-end">{{totalAmount | currency:'INR':'Rs.' }}</div>
                        <br>
                        <div class="float-start">Delivery Charges</div>
                        <div class="float-end">{{100 | currency:'INR':'Rs.' }}</div>
                        <br>
                        <div class="float-start text-danger">Discount</div>
                        <div class="float-end text-danger">{{totalAmount*0.05 | currency:'INR':'Rs.' }}</div>
                        <br>
                        <hr>
                        <div class="float-start text-success h5">Net Amount</div>
                        <div class="float-end text-success h5">{{totalAmount+100-totalAmount*0.05 |
                            currency:'INR':'Rs.' }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row col-8 col-md-2 mx-auto my-5">
    <button class="btn btn-outline-success" (click)="onOrderPlaced()">Place Order</button>
</div>