<br>
<div class="row col-9 mx-auto">
    <hr>
    <div class="container">
        <div class="float-start">Total Amount</div>
        <div class="float-end">{{totalAmount | currency:'INR':'Rs.' }}</div>
        <br>
        <div class="float-start">Delivery Charges</div>
        <div class="float-end">{{100 | currency:'INR':'Rs.' }}</div>
        <br>
        <div class="float-start text-danger">Discount</div>
        <div class="float-end text-danger">{{totalAmount*0.05 | currency:'INR':'Rs.' }}</div>
        <br>
        <hr>
        <div class="float-start text-success h5">Net Amount</div>
        <div class="float-end text-success h5">{{totalAmount+100-totalAmount*0.05 | currency:'INR':'Rs.' }}</div>
    </div>
    <button type="submit" class="btn btn-outline-success float-end col-5 mx-auto my-5" routerLink="/order">Continue</button>
</div>