<div class="card container">

    <div class="row g-0">
        <div class="col-md-6">
            <img [src]="product.imagePath" class="img-fluid p-5 pimg">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <div class="card-title display-4">{{product.name}}</div>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text text-primary h2">{{product.price | currency:'INR':'Rs.'}}</p>
                <p class="card-text"><small class="text-muted"><span class="badge rounded-pill bg-secondary me-2"
                            *ngFor="let cat of product.category">{{cat}}</span></small></p>
                <div *ngIf="!addedToCart; else added">
                    <button type="button" (click)="onAddToCart()" class="btn btn-outline-warning"><i
                            class="fa fa-cart-plus"></i> Add to cart</button>
                </div>
                <ng-template #added>
                    <i class="text-success"> Added to Cart </i>
                </ng-template>
            </div>
        </div>
    </div>
</div>
